#list_menu_button {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#list_menu_button button {
  padding: 1rem;
  background: #fe6e6f;
  transition: all .3s;
}

#list_menu_button button:hover {
  opacity: .6;
  cursor: pointer;
}